.home{
	&-banner{
		position: relative;
		padding-top: 42.6%;
		min-height: 600px;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 133%;
			background:url(../img/home-banner-bg.png) no-repeat;
			background-size: 100% 100%;
			background-position: top;
			pointer-events: none;
		}
		&__wrap{
			position: absolute;
			top: 32%;
			width: 100%;
			height: 68%;
			z-index: 1;
			// overflow: hidden;
		}
		.el__thumb {
		    width: 32.1%;
		    position: absolute;
		    top: -12%;
		    &--1{
		    	animation: lightAnimation 1.5s ease-in-out infinite;
		    }
		    &--2{
		    	position: absolute;
		    	top: 0;
		    	left: 0;
		    	width: 100%;
		    	height: 100%;
		    	animation: Mousex 3s linear infinite;
		    }
		}
		.el__title{
			font-weight: 600;
			font-size: 60px;
			line-height: 68px;
			color: #F8F8F8;
			strong{
				color: #FB741D;
			}
		}
		.el__excerpt{
			margin-top: 24px;
		}
		.btn{
			margin-top: 56px;
		}
	}

	&-new{
		position: relative;
		padding-bottom: 40px;
		overflow: hidden;
		&:before{
			// content: '';
		 //    position: absolute;
		 //    top: -8%;
		 //    left: 0;
		 //    width: 100%;
		 //    height: 100%;
		 //    background: url(../img/home-new-line.png) repeat-x;
		 //    background-size: 100% 100%;
		 //    pointer-events: none;
		}
		.ocean{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.wave {
		  background: url(../img/wave-1.svg) repeat-x;
		  position: absolute;
		  top: 0;
		  width: 3076px;
		  height: 91px;
		  transform: translate3d(0, 0, 0);
		  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
		transform: translate3d(0, 0, 0);
		}
		.wave2 {
		  background: url(../img/wave-2.svg) repeat-x;
		  position: absolute;
		  top: 0;
		  width: 3076px;
		  height: 91px;
		  transform: translate3d(0, 0, 0);
		  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
		transform: translate3d(0, 0, 0);
		   animation-delay: -5s;
 			 animation-duration: 20s;
		}
		@keyframes wave {
		  0% {
		    margin-left: 0;
		  }
		  100% {
		    margin-left: -1600px;
		  }
		}
		.col--left{
			position: relative;
			width: 180px;
			&:before{
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 1px;
				height: 100%;
				background:linear-gradient(to top, transparent, #FFA143, transparent);
			}
		}
		.col--right{
			width: calc(100% - 180px);
		}
		.el{
			&__box{
				position: relative;
				padding: 20px;
				background: rgba(183, 189, 255, 0.04);
				backdrop-filter: blur(55px);
				border-radius: 30px;
				border: 1px solid #FFA143;
				&:before, &:after{
					content: '';
					position: absolute;
					width: 16px;
					height: 16px;
					top: 50%;
					background: #FF9C06;
					transform: translateY(-50%);
					border-radius: 50%;
					box-shadow: 0px 0px 5px #FFB443, 0px 0px 18px #FFA143;
					animation: lightAnimation 1.5s ease-in-out infinite;
				}
				&:before{
					left: -8px;
				}
				&:after{
					right: -8px;
				}
				&__title{
					font-weight: bold;
					font-size: 32px;
					line-height: 42px;
					text-align: center;

					 background: -webkit-linear-gradient(310deg, #FB451D 40%, #ED8409);
				    -webkit-background-clip: text;
				    -webkit-text-fill-color: transparent;
				}
			}
			&__item{
				&__date{
					font-weight: normal;
					font-size: 12px;
					line-height: 15px;
					text-transform: uppercase;
					color: #FFFFFF;
					margin-bottom: 4px;
				}
				&__title{
					font-weight: bold;
					font-size: 14px;
					line-height: 20px;
					color: #FFFFFF;
				}
			}
			&__slider{
				padding: 12px 46px;
			}
		}
	}

	&-partners{
		position: relative;
		padding: 60px 0;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 125%;
			background:url(../img/home-partners-bg.png) no-repeat;
			background-size: cover;
			background-position: center;
			pointer-events: none;
			z-index: -1;
		}
		.el{
			&__header{
				margin-bottom: 10px;
				&__title{
					font-weight: bold;
					font-size: 12px;
					line-height: 22px;
					text-align: center;
					letter-spacing: 0.98em;
					margin-bottom: 0;
				}
			}
			&__box{
				max-width: 825px;
				margin: 0 auto;
			}
			&__item{
				opacity: .3;
				transition: all .5s;
				&:hover{
					opacity: 1;
				}
			}
		}
	}

	&-ecosystem{
		position: relative;
		padding: 60px 0;
		&:before{
			content: '';
		    position: absolute;
		    top: 7%;
		    right: 9%;
		    width: 370px;
		    height: 370px;
		    background: url(../img/home-ecosytem-ic-top-right.png) no-repeat;
		    background-size: contain;
		    pointer-events: none;
		    z-index: -1;
		}
		&:after{
			content: '';
		    position: absolute;
		    top: 53%;
		    left: 10%;
		    width: 370px;
		    height: 370px;
		    background: url(../img/home-ecosytem-ic-center-left.png) no-repeat;
		    background-size: contain;
		    pointer-events: none;
		    z-index: -1;
		}
		.row__item{
			&>div{
				&:nth-child(2n){
					transform: translateY(50px);
				}
				&:nth-child(3n){
					transform: translateY(100px);
				}
			}
		}
		.el{
			&__item{
				position:relative;
				min-height: 460px;
				padding: 32px 32px;
				background: rgba(255, 255, 255, 0.07);
				backdrop-filter: blur(50px);
				border-radius: 20px;
				margin-bottom: var(--bs-gutter-x);
				border: 1px solid #494E7E;
				transition: all .5s;
				&:hover{
					border-color: #A042FF;
					.el__item__thumb{
						transform: translateY(-5px);
					}
				}
				&__thumb{
					position: absolute;
					top: -20px;
    				right: -20px;
					width: 250px;
					transition: all .5s;
					.dnfix__thumb{
						padding-top: 100%;
					}
				}
				&__meta{
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					padding: 32px;
				}
				&__number{
					font-weight: 200;
					font-size: 36px;
					line-height: 45px;
					color: #FFC488;
					text-shadow: 0px 0px 15px #FFA143, 0px 0px 15px #FFA143;
					margin-bottom: 16px;
				}
				&__title{
					font-weight: bold;
					font-size: 32px;
					line-height: 42px;
					color: #FB741D;
					margin-bottom: 16px;
				}
				&__excerpt{
					font-weight: normal;
					font-size: 14px;
					line-height: 22px;
					color: #FFFFFF;
				}

				&__anymore {
				    position: absolute;
				    top: 0;
				    left: 0;
				    width: 100%;
				    height: 100%;
				    display: flex;
				    align-items: center;
				    justify-content: center;
				}

			}
		}

		.-ic-top{
			position: absolute;
		    top: 6%;
		    left: 8%;
		    width: 322px;
		    height: 322px;
		    background: url(../img/home-ecosytem-ic-top-left2.png) no-repeat;
		    background-size: contain;
		    pointer-events: none;
		    z-index: -1;
		    &:before{
		    	content: '';
			    position: absolute;
			    top: 6%;
			    left: 20%;
			    width: 253px;
			    height: 253px;
			    background: url(../img/home-ecosytem-ic-top-left.png) no-repeat;
			    background-size: contain;
			    animation: spinner-rotate 20s linear infinite;
		    }
		}
		.-ic-bottom-left{
			position: absolute;
		    bottom: -5%;
		    left: 10%;
		    width: 482px;
		    height: 482px;
		    background: url(../img/home-ecosytem-ic-bottom-left2.png) no-repeat;
		    background-size: contain;
		    pointer-events: none;
		    z-index: -1;
		    &:before{
		    	content: '';
			    position: absolute;
			    top: -5%;
			    left: -14%;
			    width: 348px;
			    height: 348px;
			    background: url(../img/home-ecosytem-ic-bottom-left.png) no-repeat;
			    background-size: contain;
			    animation: Mousex 3s linear infinite;
		    }
		}
		.-ic-bottom{
			position: absolute;
		    bottom: 0;
		    right: 11%;
		    width: 286px;
		    height: 286px;
		    background: url(../img/home-ecosytem-ic-bottom-right.png) no-repeat;
		    background-size: contain;
		    pointer-events: none;
		    animation: Mousex 3s linear infinite;
		    z-index: -1;
		}
	}

	&-work{
		position: relative;
		padding: 170px 0 60px;
		&:before{
			content: '';
		    position: absolute;
		    top: calc(10% + 140px);
		    left: 0;
		    width: 100%;
		    height: 60%;
		    background: url(../img/home-work-bg.png) no-repeat;
		    background-size: cover;
		    pointer-events: none;
		}
		.sc__header__thumb{
			max-width: 360px;
			margin: -150px auto 0;
			animation: lightAnimation 1s ease-in-out infinite;
		}
		.dnfix__thumb{
			padding-top: 89%;
		}
		.el{
			&__box{
				padding: 0 100px 100px;
				border: 1px solid #494E7E;
				background: rgba(255, 255, 255, 0.07);
				backdrop-filter: blur(30px);
				border-radius: 20px;
			}
			&__item{
				text-align: center;
				&:hover{
					.el__item__thumb{
						transform: translateY(-5px);
					}
				}
				&__thumb{
					max-width: 200px;
					margin: 0 auto 24px;
					transition: all .5s
				}
				.dnfix__thumb{
					padding-top: 90%
				}
				&__title{
					font-weight: bold;
					font-size: 24px;
					line-height: 34px;
					color: #FFFFFF;
					margin-bottom: 0;
					transition: all .5s;
				}
				&__excerpt{
					margin-top: 16px;
					font-weight: normal;
					font-size: 14px;
					line-height: 22px;
					color: #FFFFFF;
				}
			}
		}
	}

	&-com{
		position: relative;
		padding: 60px 0;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 133%;
			background:url(../img/home-com-bg.png) no-repeat;
			background-size: cover;
			background-position: center;
			pointer-events: none;
		}

		.col--left{
			display: flex;
			flex-direction: column;
		}

		.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
		    background: transparent;
		}
		.tab-pane{
			&:not(:last-child){
				.el__item{
					&:before{
						content: '';
						position: absolute;
						top: 60px;
						left: 70px;
						width: 1px;
						height: 100%;
						background: #FFA943;
						box-shadow: 0px 0px 5px #FFB443, 0px 0px 18px #FFA143;
					}
				}
			}
		}

		.el{
			&__header{
				margin-bottom: 100px;
				&__title{
					font-weight: 200;
					font-size: 64px;
					line-height: 74px;
					color: #F8F8F8;
					margin-bottom: 0;
					strong{
						font-weight: 700;
						background: -webkit-linear-gradient(
					310deg, #FB451D 30%, #ED8409);
					    -webkit-background-clip: text;
					    -webkit-text-fill-color: transparent;
					}
				}
			}

			&__thumb{
				max-width: 400px;
				margin-bottom: 30px;
			}
			&__box{
				position: relative;

			}
			&__item{
				position: relative;
				margin-bottom: 57px;
				padding-left: 170px;


				&__number{
					position: absolute;
					top: 0;
					left: 0;
					width: 106px;
					height: 106px;
					line-height: 106px;
					border-radius: 50%;
					display: flex;
				    align-items: center;
				    justify-content: center;

					font-weight: 500;
					font-size: 24px;
					color: #FFFFFF;
					text-align: center;
					border: 1px solid #494E7E;
					background: rgba(255, 255, 255, 0.07);
					backdrop-filter: blur(10px);
					span{
						position: relative;
						display: inline-block;
    					border-radius: 50%;
						width: 8px;
						height: 8px;
						margin-left: 12px;
						background: #FFB906;
						box-shadow: 0px 0px 5px #FFB443, 0px 0px 18px #FFA143;
						animation: lightAnimation 1.5s ease-in-out infinite;
						&:before{
							content: '';
							position: absolute;
							top: -4px;
							left: -4px;
							width: 16px;
							height: 16px;
							border-radius: 50%;
							background: #FF9C06;
							opacity: 0.7;
							box-shadow: 0px 0px 5px #FFB443, 0px 0px 18px #FFA143;
							z-index: -1;
						}
					}
				}
				&__title{
					font-weight: bold;
					font-size: 32px;
					line-height: 42px;
					color: #FB741D;
					margin-bottom: 24px;
				}
				&__excerpt{
					font-weight: normal;
					font-size: 14px;
					line-height: 22px;
				}
			}
		}
	}

	&-team{
		position: relative;
		padding: 80px 0;
		background:url(../img/home-team-bg.png) no-repeat;
		background-size: cover;
		background-position: center;
		overflow: hidden;
		.el{
			&__box{
				margin-top: 12px;
				padding: 48px;
				background: rgba(255, 255, 255, 0.05);
				backdrop-filter: blur(20px);
				border-radius: 20px;
				border: 1px solid #ed8309;
				font-weight: normal;
				font-size: 18px;
				line-height: 26px;
				color: #FFFFFF;
				p+p{
					margin-top: 16px;
				}
			}
			&__item{
				width: 300px;
				padding: 48px;
				border: 2px solid #494E7E;
				background: rgba(255, 255, 255, 0.06);
				backdrop-filter: blur(20px);
				border-radius: 20px;
				text-align: center;
				transition: all .5s;
				&:before{
					content: "\e90f";
				    font-family: 'icomoon';
				    font-size: 20px;
				    position: absolute;
				    bottom: -50px;
				    left: 0;
				    right: 0;
				    background: -webkit-linear-gradient(
				310deg, #FB451D 30%, #ED8409);
				    -webkit-background-clip: text;
				    -webkit-text-fill-color: transparent;
				    opacity: 0;
				    transition: all .5s;
				}
				.dnfix__thumb{
					width: 100%;
					max-width: 205px;
					padding-top: 100%;
					border-radius: 50%;
					margin: 0 auto;
				}
				&__thumb{
					margin-bottom: 16px;
				}
				&__title{
					font-weight: 600;
					font-size: 18px;
					line-height: 26px;
					color: #FFFFFF;
					margin-bottom: 8px;
				}
				&__excerpt{
					font-weight: normal;
					font-size: 12px;
					line-height: 22px;
					color: #FFFFFF;
				}
			}
		}
		&__slider{

			padding: 0 8%;
			--arrow: 32px;
			.el__item__wrap{
				padding: 50px 0
			}
		}
		.slick-center{
			.el__item{
				border: 2px solid #FFA143;
				transform: translateY(-50px)!important;
				&:before{
					opacity: 1;
				}
			}
		}
		.slick-arrow{
			font-size: 20px;
		}
	}
	@media (max-width: 1899px){
		&-team{
			&__slider{
				padding: 0;
				&:before{
					content: '';
				    position: absolute;
				    top: 0;
				    left: 0;
				    width: 150px;
				    height: 100%;
				    background: linear-gradient(to right, #0f144b, transparent);
				    z-index: 1;
				    pointer-events: none;
				}
				&:after{
					content: '';
				    position: absolute;
				    top: 0;
				    right: 0;
				    width: 150px;
				    height: 100%;
				    background: linear-gradient(to left, #0f144b, transparent);
				    z-index: 1;
				    pointer-events: none;
				}
			}
			.el__item {
			    padding: 24px;
			}
		}
	}
	@media (max-width: 1599px){
		&-ecosystem{
			.-ic-top {
			    left: 0;
			    width: 280px;
			    height: 280px;
			}
			.-ic-bottom-left {
			    left: 0;
			    &:before {
				    top: 10%;
				    left: 0;
				    width: 260px;
				    height: 260px;
				}
			}
			.-ic-bottom {
				width: 250px;
				height: 250px;
			    right: 0;
			}
		}
	}
	@media (max-width: 1199px){
		&-banner{
			.el__title {
			    font-size: 48px;
			    line-height: 58px;
			}
		}
		&-new{
			.slick-arrow{
				top: 10px;
				font-size: 16px;
			}
			.slick-prev {
			    left: auto;
			    right: 10px;
			}
			.slick-next {
			    right: -10px;
			}
		}
		&-com{
			.el__header__title {
			    font-size: 50px;
			    line-height: 64px;
			}
			.el__item__title {
			    font-size: 24px;
			    line-height: 36px;
			}
		}
		&-ecosystem{
			.el__item__thumb {
			    width: 180px;
			}
			.el__item__title {
			    font-size: 28px;
			    line-height: 36px;
			}
		}
		&-work{
			.el__box {
			    padding: 0 40px 60px;
			}
			.el__item__title {
			    font-size: 20px;
			    line-height: 28px;
			}
		}
	}
	@media (max-width: 991px){
		&-banner{
			padding-top: 0;
			&:before {
			    background-size: cover;
			}
			&__wrap{
				position: relative;
				top: 0;
				padding-top: 15%;
				margin-bottom: 50px;
			}
			.btn {
			    margin-top: 34px;
			}
			.el__thumb {
			    position: relative;
			    width: 100%;
			    max-width: 400px;
			}
		}
		&-new{
			.col--left {
			    width: 150px;
			}
			.col--right {
			    width: calc(100% - 150px);
			}
			.el__slider {
			    padding: 8px 36px;
			}
		}
		&-partners {
		    padding: 40px 0 10px;
		}
		&-com{
			.el__header {
			    margin-bottom: 30px;
			}
		}

		&-ecosystem {
		    padding: 40px 0;
		    .el__item{
		    	max-width: 380px;
		    	min-height: 440px;
			    padding: 32px 16px;
			    margin: 0 auto 24px;
		    	&__thumb {
				    width: 140px;
				}
			    &__meta {
			    	position: relative;
				    padding: 0;
				}
				&__title {
				    font-size: 24px;
				    line-height: 32px;
				}
		    }

			.-ic-bottom {
			    width: 160px;
			    height: 160px;
			}
		}
		&-work{

			.el__item {
				&__thumb {
				    max-width: 180px;
				    margin: 0 auto 16px;
				}
			    margin-bottom: 30px;
			}
		}
	}
	@media (max-width: 767px){
			&-ecosystem {
			    .row__item>div:nth-child(2n), .row__item>div:nth-child(3n) {
				    transform: translateY(0);
				}
			    .el__item{
			    	max-width: 380px;
			    	min-height: 300px;
				    padding: 32px 24px;
				    margin: 0 auto 24px;
				}
			}

	}
	@media (max-width: 575px){
		&-banner{
			&__wrap {
			    padding-top: 25%;
			}
		}
		&-new{
			.el__box__header{
				margin-bottom: 16px;
			}
			.el__slider {
			    padding: 8px 0;
			}
			.col--left {
			    width: 100%;
			    &:before{
			    	display: none;
			    }
			}
			.col--right {
			    width: 100%;
			}
			.slick-arrow {
			    top: -36px;
			}
			.el__box__title{
				text-align: left;
			}
		}
		&-ecosystem{
			.el__item__title {
			    font-size: 32px;
			    line-height: 42px;
			}
		}
		&-team{
			.slick-arrow {
			    top: calc(50% - 50px);
			}
			.el__box {
			    margin-top: 0;
			    padding: 24px;
			}
		}
		&-work{
			padding: 170px 0 20px;
			.el__box{
				padding: 0 24px 60px;
			}
		}
		&-com{
			padding: 60px 0 0;
			.el__header {
			    text-align: center;
			}
			.el__item {
			    padding-left: 0;
			}
			.nav{
				flex-wrap: nowrap;
				margin-bottom: 20px;
			}
			.nav-link{
				padding: 0;
				opacity: .5;
				+ .nav-link{
					margin-left: 10px;
				}
				&.active{
					opacity: 1;
				}
			}
			.tab-pane:not(:last-child) .el__item:before{
				display: none;
			}
			.el__item__number{
				position: relative;
			}
			.el__item__title {
			    font-size: 32px;
			    line-height: 42px;
			}

		}

	}

	@media (min-width: 576px){
		&-com .tab-content>.tab-pane {
		    display: block;
		    opacity: 1;
		}
	}
}